In [1]:
#%matplotlib inline
import pandas as pd

tags = pd.read_csv('./movielens/tags.csv')
movies = pd.read_csv('./movielens/movies.csv')
ratings = pd.read_csv('./movielens/ratings.csv')

In [2]:
tags.head()

   userId  movieId            tag   timestamp
0      18     4141    Mark Waters  1240597180
1      65      208      dark hero  1368150078
2      65      353      dark hero  1368150079
3      65      521  noir thriller  1368149983
4      65      592      dark hero  1368150078

In [3]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
t = movies.merge(tags, on='movieId', how='inner')
t.head()

,movieId,title,genres,userId,tag,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1644,Watched,1417736680
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1741,computer animation,1183903155
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1741,Disney animated feature,1183933307
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1741,Pixar animation,1183934770
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1741,TÃ©a Leoni does not star in this movie,1245093573

In [5]:
avg_ratings = ratings.groupby('movieId', as_index=False).mean()
del avg_ratings['userId']
avg_ratings.head()

   movieId    rating     timestamp
0        1  3.920930  1.129835e+09
1        2  3.431818  1.135805e+09
2        3  3.259615  1.005110e+09
3        4  2.357143  8.985789e+08
4        5  3.071429  9.926643e+08

In [6]:
box_office = movies.merge(avg_ratings, on='movieId', how='inner')
del box_office['timestamp']
box_office.tail()

,movieId,title,genres,rating
8744,131023,That Sugar Film (2014),Documentary,4.5
8745,131098,Saving Santa (2013),Animation|Children|Comedy,5.0
8746,131104,The Brain (1969),Comedy|Crime,4.5
8747,131130,Tom and Jerry: A Nutcracker Tale (2007),Animation|Comedy,5.0
8748,131237,What Men Talk About (2010),Comedy,5.0

In [7]:
is_highly_rated = box_office['rating'] >= 4.0

box_office[is_highly_rated][-5:]

,movieId,title,genres,rating
8744,131023,That Sugar Film (2014),Documentary,4.5
8745,131098,Saving Santa (2013),Animation|Children|Comedy,5.0
8746,131104,The Brain (1969),Comedy|Crime,4.5
8747,131130,Tom and Jerry: A Nutcracker Tale (2007),Animation|Comedy,5.0
8748,131237,What Men Talk About (2010),Comedy,5.0

In [8]:
is_comedy = box_office['genres'].str.contains('Comedy')
box_office[is_comedy][:5]

,movieId,title,genres,rating
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.920930
2,3,Grumpier Old Men (1995),Comedy|Romance,3.259615
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,2.357143
4,5,Father of the Bride Part II (1995),Comedy,3.071429
6,7,Sabrina (1995),Comedy|Romance,3.185185

In [9]:
box_office[is_comedy & is_highly_rated][-5:]

,movieId,title,genres,rating
8742,130978,Love and Pigeons (1985),Comedy|Romance,5.0
8745,131098,Saving Santa (2013),Animation|Children|Comedy,5.0
8746,131104,The Brain (1969),Comedy|Crime,4.5
8747,131130,Tom and Jerry: A Nutcracker Tale (2007),Animation|Comedy,5.0
8748,131237,What Men Talk About (2010),Comedy,5.0