---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

In [1]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

# Assignment 4 - Hypothesis Testing
This assignment requires more individual learning than previous assignments - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

Definitions:
* A _quarter_ is a specific three month period, Q1 is January through March, Q2 is April through June, Q3 is July through September, Q4 is October through December.
* A _recession_ is defined as starting with two consecutive quarters of GDP decline, and ending with two consecutive quarters of GDP growth.
* A _recession bottom_ is the quarter within a recession which had the lowest GDP.
* A _university town_ is a city which has a high percentage of university students compared to the total population of the city.

**Hypothesis**: University towns have their mean housing prices less effected by recessions. Run a t-test to compare the ratio of the mean price of houses in university towns the quarter before the recession starts compared to the recession bottom. (`price_ratio=quarter_before_recession/recession_bottom`)

The following data files are available for this assignment:
* From the [Zillow research data site](http://www.zillow.com/research/data/) there is housing data for the United States. In particular the datafile for [all homes at a city level](http://files.zillowstatic.com/research/public/City/City_Zhvi_AllHomes.csv), ```City_Zhvi_AllHomes.csv```, has median home sale prices at a fine grained level.
* From the Wikipedia page on college towns is a list of [university towns in the United States](https://en.wikipedia.org/wiki/List_of_college_towns#College_towns_in_the_United_States) which has been copy and pasted into the file ```university_towns.txt```.
* From Bureau of Economic Analysis, US Department of Commerce, the [GDP over time](http://www.bea.gov/national/index.htm#gdp) of the United States in current dollars (use the chained value in 2009 dollars), in quarterly intervals, in the file ```gdplev.xls```. For this assignment, only look at GDP data from the first quarter of 2000 onward.

Each function in this assignment below is worth 10%, with the exception of ```run_ttest()```, which is worth 50%.

In [2]:
# Use this dictionary to map state names to two letter acronyms
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}

In [3]:
# Use this dictionary to map state names to two letter acronyms
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}

def states_map(x):
    x_new = list(states.keys())[list(states.values()).index(x)]
    
    return x_new

import re
def get_list_from_txt():
    ut_data = []
    with open('./university_towns.txt', 'r') as f_read:
        for each_line in f_read:
            # remove the '\n'
            each_line = each_line.strip('\n')
            
            # skip the note line with the ':' as the end of line
            if (each_line.endswith(':')):
                continue
            # check if the line is a new state
            is_state = each_line.find('[edit]')
            if is_state > 0:
                # we got a new state
                (current_state_name, extra) = each_line.split('[')
                #print('--> '+ current_state_name)
            else:
                # this is a university town name with the old state name
                # store it
                # removing every character from " (" to the end
                # special line has two region split by '*'
                result = re.split('[(*(]', each_line)

                region_name = result[0]
                #print('-->--> ' + region_name)
                ut_data.append([current_state_name, region_name])
                
                if (len(result) > 2 and each_line.find('*') > 0):
                    region_name = result[2]
                    #print('-->--> ' + region_name)
                    ut_data.append([current_state_name, region_name])
    return ut_data
def get_list_of_university_towns():
    '''Returns a DataFrame of towns and the states they are in from the 
    university_towns.txt list. The format of the DataFrame should be:
    DataFrame( [ ["Michigan", "Ann Arbor"], ["Michigan", "Yipsilanti"] ], 
    columns=["State", "RegionName"]  )
    
    The following cleaning needs to be done:

    1. For "State", removing characters from "[" to the end.
    2. For "RegionName", when applicable, removing every character from " (" to the end.
    3. Depending on how you read the data, you may need to remove newline character '\n'. '''
    # ut_data = [ ["Michigan", "Ann Arbor"], ["Michigan", "Yipsilanti"] ]
    ut_data = get_list_from_txt()
    #ut_data = pd.Series(ut_data)
    ut_df = pd.DataFrame(ut_data, columns=["State", "RegionName"])
    
    # map the state name to two letter acronyms
    ut_df['State'] = ut_df['State'].apply(states_map)
    
    return ut_df

df = get_list_of_university_towns()
df.head()

  State     RegionName
0    AL        Auburn
1    AL      Florence
2    AL  Jacksonville
3    AL    Livingston
4    AL    Montevallo

In [4]:
def get_city_homeprice():
    ct_home_price_df = pd.read_csv('City_Zhvi_AllHomes.csv')
    return ct_home_price_df

ct_home_price_df = get_city_homeprice()
#print(list(ct_home_price_df.columns))
gdp_df = ct_home_price_df.iloc[:, 6:]
#gdp_df.head()
# gdp_df.info()
gdp_df.columns = pd.DatetimeIndex(gdp_df.columns)
gdp_df.head()
gdp_df_Q = gdp_df.resample('Q', axis=1).mean()
gdp_df_Q.fillna(method = 'bfill', inplace=True, axis = 1)
gdp_df_qsum = gdp_df_Q.sum()
type(gdp_df_qsum)
gdp_df_qsum_df = pd.DataFrame(gdp_df_qsum, columns=['GDP'])
gdp_df_qsum_df.head()

                     GDP
1996-06-30  1.367418e+09
1996-09-30  1.369793e+09
1996-12-31  1.373754e+09
1997-03-31  1.384613e+09
1997-06-30  1.395653e+09

In [5]:
gdp_df.head()

,1996-04-01 00:00:00,1996-05-01 00:00:00,1996-06-01 00:00:00,1996-07-01 00:00:00,1996-08-01 00:00:00,1996-09-01 00:00:00,1996-10-01 00:00:00,1996-11-01 00:00:00,1996-12-01 00:00:00,1997-01-01 00:00:00,...,2015-11-01 00:00:00,2015-12-01 00:00:00,2016-01-01 00:00:00,2016-02-01 00:00:00,2016-03-01 00:00:00,2016-04-01 00:00:00,2016-05-01 00:00:00,2016-06-01 00:00:00,2016-07-01 00:00:00,2016-08-01 00:00:00
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,573600,576200,578400,582200,588000,592200,592500,590200,588000,586400
1,155000.0,154600.0,154400.0,154200.0,154100.0,154300.0,154300.0,154200.0,154800.0,155900.0,...,558200,560800,562800,565600,569700,574000,577800,580600,583000,585100
2,109700.0,109400.0,109300.0,109300.0,109100.0,109000.0,109000.0,109600.0,110200.0,110800.0,...,207800,206900,206200,205800,206200,207300,208200,209100,211000,213000
3,50000.0,49900.0,49600.0,49400.0,49400.0,49300.0,49300.0,49400.0,49700.0,49600.0,...,122300,121600,121800,123300,125200,126400,127000,127400,128300,129100
4,87200.0,87700.0,88200.0,88400.0,88500.0,88900.0,89400.0,89700.0,90100.0,90700.0,...,183800,185300,186600,188000,189100,190200,191300,192800,194500,195900

* A recession is defined as starting with two consecutive quarters of GDP decline, and ending with two consecutive quarters of GDP growth.
* A recession bottom is the quarter within a recession which had the lowest GDP.
* A university town is a city which has a high percentage of university students compared to the total population of the city.

In [6]:
# define a dictionary to store the recession info
recession_info = {'start':[], 
                 'bottom':[],
                 'end':[]}

# this quarter compare to last one, if Q2 < Q1, then the increase is False
gdp_df_qsum_df['Increase'] = True
for i in range(1, len(gdp_df_qsum_df)-1):
    if gdp_df_qsum_df['GDP'].iloc[i] <= gdp_df_qsum_df['GDP'].iloc[i-1]:
        gdp_df_qsum_df['Increase'].iloc[i] = False

# without list , all the value in Increase would be NAN
#gdp_df_qsum_df['Increase'] = list(gdp_df_qsum_df.reset_index()['GDP'] < gdp_df_qsum_df_cp.reset_index()['GDP'])
#gdp_df_qsum_df['Increase'].iloc[60]
#gdp_df_qsum_df.iloc[1]

# go through the data frame to get recession info
# find the recession start
for i in range(0, len(gdp_df_qsum_df)-2):
    if (gdp_df_qsum_df['Increase'].iloc[i] == False and gdp_df_qsum_df['Increase'].iloc[i+1] == False):
        # we got recession start
        #time = gdp_df_qsum_df['GDP'].index[3]
        recession_start = gdp_df_qsum_df.iloc[i].name
        #print('the recession start at {}'.format(recession_start))
        recession_info['start'] = [i, recession_start]
        print('recession start quarter:{}, index:{}'.format(recession_info['start'][1], recession_info['start'][0]))
        break
        
    
# find the recession end
for i in range(recession_info['start'][0], len(gdp_df_qsum_df)-2):
    if (gdp_df_qsum_df['Increase'].iloc[i] == True and gdp_df_qsum_df['Increase'].iloc[i+1] == True):
        recession_info['end'] = [i, gdp_df_qsum_df.iloc[i].name]
        print('recession end quarter:{}, index:{}'.format(recession_info['end'][1], recession_info['end'][0]))
        break

recession_df = gdp_df_qsum_df[recession_info['start'][0]:recession_info['end'][0]+1]

bottom = recession_df[recession_df['GDP'] == recession_df['GDP'].min()]
#print(type(bottom))
recession_info['bottom'] = [0, bottom.index[0]]

C:\anaconda3\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

recession start quarter:2006-12-31 00:00:00, index:42
recession end quarter:2012-06-30 00:00:00, index:64

In [7]:
recession_start_str = recession_info['start'][1]
print(type(recession_start_str))
year,month = recession_start_str.strftime('%Y-%m').split('-')

recession_start_str = '{}q{}'.format(year, int(int(month)/3))
recession_start_str

<class 'pandas._libs.tslibs.timestamps.Timestamp'>

'2006q4'

'''
year_begin = pd.Timestamp('1996-04')
year_end = pd.Timestamp('2016-8')
print(str(year_begin) + ' to ' + str(year_end))
month_delta = pd.Timedelta('1M')
print('delta time is ' + str(month_delta))'''
'''prng = pd.period_range('1996-04', '2016-06', freq='3M')
for month in prng:
    print(month.to_timestamp())
    month+2 month+1 and get sum of each column and get mean of three month
    if month gdp is not exist:
        skip'''

In [8]:
def get_recession_start():
    '''Returns the year and quarter of the recession start time as a 
    string value in a format such as 2005q3'''
    recession_start_str = recession_info['start'][1]
    print(type(recession_start_str))
    year,month = recession_start_str.strftime('%Y-%m').split('-')

    recession_start_str = '{}q{}'.format(year, int(int(month)/3))
    return recession_start_str

In [9]:
def get_recession_end():
    '''Returns the year and quarter of the recession end time as a 
    string value in a format such as 2005q3'''
       
    recession_end_str = recession_info['end'][1]
    print(type(recession_end_str))
    year,month = recession_end_str.strftime('%Y-%m').split('-')

    recession_end_str = '{}q{}'.format(year, int(int(month)/3))
    return recession_end_str

In [10]:
def get_recession_bottom():
    '''Returns the year and quarter of the recession bottom time as a 
    string value in a format such as 2005q3'''
    recession_bottom_str = recession_info['end'][1]
    print(type(recession_bottom_str))
    year,month = recession_bottom_str.strftime('%Y-%m').split('-')

    recession_bottom_str = '{}q{}'.format(year, int(int(month)/3))
    return recession_bottom_str

In [15]:
def map_column_to_quarter(date):
    year,month = date.strftime('%Y-%m').split('-')

    return_str = '{}q{}'.format(year, int(int(month)/3))
    return return_str
    
def convert_housing_data_to_quarters():
    '''Converts the housing data to quarters and returns it as mean 
    values in a dataframe. This dataframe should be a dataframe with
    columns for 2000q1 through 2016q3, and should have a multi-index
    in the shape of ["State","RegionName"].
    
    Note: Quarters are defined in the assignment description, they are
    not arbitrary three month periods.
    
    The resulting dataframe should have 67 columns, and 10,730 rows.
    '''
    convert_ct_home_price_df = get_city_homeprice()
    #print(list(ct_home_price_df.columns))
    convert_gdp_df = convert_ct_home_price_df.iloc[:, 6:]
    #gdp_df.head()
    # gdp_df.info()
    convert_gdp_df.columns = pd.DatetimeIndex(convert_gdp_df.columns)
    #gdp_df.head()
    convert_gdp_df_Q = convert_gdp_df.resample('Q', axis=1).mean()
    convert_gdp_df_Q.fillna(method = 'bfill', inplace=True, axis = 1)

    convert_gdp_df_Q.columns = convert_gdp_df_Q.columns.map(map_column_to_quarter)
    
    convert_gdp_df_Q = pd.merge(convert_ct_home_price_df.iloc[:, 1:6], convert_gdp_df_Q, how='inner', left_index=True, right_index=True)
    
    
    # https://stackoverflow.com/questions/53222171/multi-index-would-not-group-the-same-key-in-python
    # I can't group it here
    #convert_gdp_df_Q.set_index([convert_gdp_df_Q['State'], convert_gdp_df_Q['RegionName']], drop=True, inplace=True)
    multi_convert_gdp_df_Q = convert_gdp_df_Q .set_index(["State","RegionName"]).sort_index()
    
    #m_index = pd.MultiIndex.from_arrays([convert_gdp_df_Q['State'], convert_gdp_df_Q['RegionName']])
    #convert_gdp_df_Q.index = m_index

    return multi_convert_gdp_df_Q

df = convert_housing_data_to_quarters()
#gdp_df_Q.head()
#df = pd.merge(ct_home_price_df.iloc[:, 1:6], gdp_df_Q,  how='inner', left_index=True, right_index=True)
df.head()

                        Metro            CountyName  SizeRank    1996q2  \
State RegionName
AK    Anchor Point        NaN       Kenai Peninsula     10082  189700.0
      Anchorage     Anchorage             Anchorage        56  180050.0
      Fairbanks     Fairbanks  Fairbanks North Star       839  172500.0
      Homer               NaN       Kenai Peninsula      6858  239600.0
      Juneau           Juneau                Juneau      1946  181300.0

                      1996q3    1996q4    1997q1    1997q2    1997q3  \
State RegionName
AK    Anchor Point  189700.0  189700.0  189700.0  189700.0  189700.0
      Anchorage     180050.0  180050.0  180050.0  180050.0  180050.0
      Fairbanks     172500.0  172500.0  172500.0  172500.0  172500.0
      Homer         239600.0  239600.0  239600.0  239600.0  239600.0
      Juneau        181300.0  181300.0  181300.0  181300.0  181300.0

                           1997q4    ...            2014q2         2014q3  \
State RegionName                     ...
AK    Anchor Point  189700.000000    ...     157800.000000  158000.000000
      Anchorage     180050.000000    ...     278200.000000  280766.666667
      Fairbanks     172500.000000    ...     209233.333333  207100.000000
      Homer         239600.000000    ...     233033.333333  232900.000000
      Juneau        182766.666667    ...     328266.666667  331833.333333

                           2014q4         2015q1         2015q2  \
State RegionName
AK    Anchor Point  155566.666667  154266.666667  154100.000000
      Anchorage     281700.000000  284166.666667  287166.666667
      Fairbanks     207000.000000  207766.666667  206466.666667
      Homer         231066.666667  233500.000000  238100.000000
      Juneau        333200.000000  335666.666667  337366.666667

                           2015q3         2015q4         2016q1  \
State RegionName
AK    Anchor Point  153966.666667  154766.666667  156800.000000
      Anchorage     290233.333333  291700.000000  293700.000000
      Fairbanks     208433.333333  209466.666667  209066.666667
      Homer         238933.333333  240500.000000  243166.666667
      Juneau        325933.333333  319333.333333  318933.333333

                           2016q2    2016q3
State RegionName
AK    Anchor Point  161533.333333  161200.0
      Anchorage     294833.333333  294600.0
      Fairbanks     212933.333333  215850.0
      Homer         245166.666667  247600.0
      Juneau        319933.333333  319200.0

[5 rows x 85 columns]

In [16]:
def run_ttest():
    '''First creates new data showing the decline or growth of housing prices
    between the recession start and the recession bottom. Then runs a ttest
    comparing the university town values to the non-university towns values, 
    return whether the alternative hypothesis (that the two groups are the same)
    is true or not as well as the p-value of the confidence. 
    
    Return the tuple (different, p, better) where different=True if the t-test is
    True at a p<0.01 (we reject the null hypothesis), or different=False if 
    otherwise (we cannot reject the null hypothesis). The variable p should
    be equal to the exact p value returned from scipy.stats.ttest_ind(). The
    value for better should be either "university town" or "non-university town"
    depending on which has a lower mean price ratio (which is equivilent to a
    reduced market loss).'''
    
    quarter_df = convert_housing_data_to_quarters()
    
    r_start = get_recession_start()
    r_bottom = get_recession_bottom()
    print(r_start, r_bottom)
    
    ut = get_list_of_university_towns()
    
    return "ANSWER"

In [88]:
    quarter_df = convert_housing_data_to_quarters()
    quarter_df.reset_index(inplace=True)
    
    r_start = get_recession_start()
    r_bottom = get_recession_bottom()
    print(r_start, r_bottom)
    
    ut = get_list_of_university_towns()
    # remove the blank in RegionName
    ut['RegionName'] = ut['RegionName'].map(lambda x: x.strip())
    
    #ut['RegionName'] is a panda series here and only index(key could use method 'in'
    # if we want to use method 'in' for values, than try ut['RegionName'].values
    ut_mask = quarter_df['RegionName'].map(lambda x: True if x in ut['RegionName'].values else False)
    nout_mask = quarter_df['RegionName'].map(lambda x: False if x in ut['RegionName'].values else True)
    ut_df = quarter_df[ut_mask].groupby('State').mean()
    nout_df = quarter_df[nout_mask]
    ut_recession = ut_df.loc[:, r_start:r_bottom]
    nout_recession = nout_df.loc[:, r_start:r_bottom]
    
    # then we should mark the decline or increase for each state in both ut and nout dataframe

<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2006q4 2012q2

In [89]:
ut_recession

,2006q4,2007q1,2007q2,2007q3,2007q4,2008q1,2008q2,2008q3,2008q4,2009q1,...,2010q1,2010q2,2010q3,2010q4,2011q1,2011q2,2011q3,2011q4,2012q1,2012q2
State,,,,,,,,,,,,,,,,,,,,,
AK,232391.666667,235841.666667,236791.666667,238591.666667,241625.000000,242425.000000,250891.666667,248508.333333,244975.000000,241008.333333,...,234075.000000,233616.666667,228333.333333,217566.666667,204700.000000,200233.333333,196650.000000,192350.000000,195500.000000,194750.000000
AL,134274.074074,134533.333333,133774.074074,135185.185185,135318.518519,135962.962963,135585.185185,135762.962963,135333.333333,133240.740741,...,126074.074074,125370.370370,124929.629630,124177.777778,123655.555556,122581.481481,121922.222222,121003.703704,119848.148148,120033.333333
AR,120374.358974,121105.128205,122107.692308,123002.564103,123425.641026,122941.025641,121782.051282,120361.538462,118653.846154,118892.307692,...,118746.153846,117874.358974,117297.435897,116771.794872,116102.564103,116505.128205,116441.025641,116148.717949,116179.487179,117128.205128
AZ,262926.666667,259413.333333,254806.666667,250140.000000,244206.666667,235906.666667,227486.666667,220060.000000,212606.666667,208126.666667,...,180346.666667,177473.333333,171940.000000,166873.333333,163720.000000,157120.000000,152226.666667,151480.000000,153980.000000,158326.666667
CA,532092.857143,527005.555556,523984.920635,513383.333333,497723.015873,477405.555556,453422.222222,432486.507937,414178.571429,403616.666667,...,375982.539683,372683.333333,368361.904762,364275.396825,357931.746032,351103.174603,346714.285714,343277.777778,342573.015873,347822.222222
CO,251937.254902,253560.784314,254796.078431,257784.313725,259480.392157,259552.941176,260323.529412,258496.078431,253276.470588,249562.745098,...,245839.215686,242901.960784,239360.784314,236560.784314,233619.607843,232027.450980,231164.705882,230192.156863,230433.333333,232394.117647
CT,333374.603175,332887.301587,333160.317460,329717.460317,327652.380952,321396.825397,316425.396825,311626.984127,306620.634921,301317.460317,...,294223.809524,292525.396825,291165.079365,286947.619048,283296.825397,282163.492063,278496.825397,272180.952381,268082.539683,265779.365079
DE,212560.000000,212780.000000,213033.333333,211700.000000,209606.666667,207473.333333,204053.333333,201600.000000,197946.666667,195286.666667,...,189780.000000,190633.333333,187113.333333,184026.666667,181106.666667,179346.666667,179526.666667,175666.666667,172680.000000,171253.333333
FL,252237.301587,248103.968254,242437.301587,235908.730159,228461.111111,218746.825397,207108.730159,196308.730159,186964.285714,182808.730159,...,162003.174603,158449.206349,155180.952381,150598.412698,148082.539683,145761.904762,143153.968254,141230.158730,140919.047619,142760.317460
GA,148053.809524,147980.476190,149287.142857,149765.238095,149967.142857,149441.428571,148209.047619,146759.523810,143707.142857,141644.285714,...,133263.333333,131252.857143,128958.571429,125186.666667,121420.952381,118857.142857,116558.095238,114890.476190,113890.476190,114473.333333
IA,141200.000000,140716.666667,140566.666667,141033.333333,141150.000000,141250.000000,141500.000000,141283.333333,140300.000000,138333.333333,...,140450.000000,142716.666667,147333.333333,149266.666667,151233.333333,149616.666667,149116.666667,149166.666667,148366.666667,145766.666667
IL,223726.041667,225525.000000,224488.541667,221423.958333,218635.416667,215934.375000,212469.791667,209466.666667,206991.666667,205532.291667,...,193020.833333,190804.166667,188444.791667,184890.625000,182661.458333,180260.416667,177380.208333,175300.000000,173563.541667,172944.791667
IN,109727.192982,108751.754386,108295.614035,107458.187135,106719.883041,107297.660819,107814.035088,106974.269006,106181.286550,106046.198830,...,102530.409357,102681.286550,103269.005848,103119.005848,102872.807018,102020.760234,101309.064327,101018.421053,100756.432749,100656.432749
KS,151563.333333,153950.000000,153636.666667,152963.333333,152850.000000,153410.000000,155156.666667,156330.000000,158286.666667,160586.666667,...,147100.000000,144813.333333,144106.666667,145073.333333,145280.000000,143220.000000,141166.666667,140073.333333,140326.666667,140566.666667
KY,157696.296296,157722.222222,157537.037037,157540.740741,158325.925926,158866.666667,159433.333333,159337.037037,158129.629630,158051.851852,...,157840.740741,157374.074074,157007.407407,156885.185185,156037.037037,155248.148148,155792.592593,155481.481481,155125.925926,155537.037037
LA,124679.166667,126058.333333,127029.166667,127058.333333,127087.500000,127825.000000,128416.666667,129104.166667,130016.666667,131666.666667,...,127083.333333,125225.000000,125575.000000,126100.000000,125687.500000,125712.500000,125583.333333,124891.666667,124516.666667,124566.666667
MA,359938.596491,357541.228070,355770.175439,352907.017544,350363.157895,344688.596491,337578.070175,333407.017544,328907.894737,321444.736842,...,321928.947368,324240.350877,322342.105263,319308.771930,318025.438596,317216.666667,315978.947368,313692.982456,313168.421053,313951.754386
MD,316018.666667,315725.333333,315928.000000,312625.333333,307497.333333,299828.000000,290854.666667,284205.333333,278236.000000,273330.666667,...,259014.666667,256954.666667,252068.000000,247957.333333,243264.000000,238286.666667,236317.333333,232773.333333,231796.000000,232104.000000
MI,145518.918919,143419.819820,141453.153153,139554.954955,136369.369369,132354.054054,128232.432432,123982.882883,119865.765766,117218.018018,...,112521.621622,112924.324324,113271.171171,112063.063063,110600.000000,109190.090090,107739.639640,106888.288288,106330.630631,107444.144144
MN,246166.666667,247309.090909,246754.545455,244212.121212,241572.727273,237021.212121,234387.878788,233045.454545,230284.848485,227000.000000,...,216181.818182,212603.030303,210036.363636,208469.696970,206921.212121,202933.333333,200336.363636,197430.303030,196478.787879,199193.939394
MO,134804.761905,134323.809524,134822.222222,134812.698413,135215.873016,134969.841270,134471.428571,134298.412698,134147.619048,134134.920635,...,128395.238095,128160.317460,127150.793651,124904.761905,123263.492063,121985.714286,120806.349206,119371.428571,118957.142857,117825.396825
MS,109194.871795,111802.564103,114817.948718,116979.487179,116894.871795,118097.435897,119458.974359,121571.794872,124423.076923,127792.307692,...,129351.282051,128469.230769,127917.948718,127689.743590,127500.000000,126925.641026,126687.179487,126633.333333,125853.846154,126076.923077
MT,204458.333333,206725.000000,206241.666667,207108.333333,207908.333333,211408.333333,211341.666667,215541.666667,224100.000000,235266.666667,...,211391.666667,207108.333333,203058.333333,200975.000000,200991.666667,198116.666667,196633.333333,195650.000000,196658.333333,195141.666667
NC,152978.494624,154615.053763,155770.967742,156821.505376,157824.731183,157713.978495,156352.688172,155023.655914,152272.043011,149749.462366,...,146937.096774,146353.225806,144833.870968,142677.419355,140023.655914,138317.204301,137210.752688,137139.784946,137392.473118,138368.817204
ND,131944.444444,131177.777778,132755.555556,134222.222222,135588.888889,136411.111111,136288.888889,137711.111111,140277.777778,143733.333333,...,143322.222222,142322.222222,140966.666667,140566.666667,143911.111111,144888.888889,146233.333333,146788.888889,149477.777778,150900.000000
NE,128133.333333,128211.111111,128677.777778,129833.333333,130577.777778,129755.555556,128455.555556,126766.666667,125755.555556,125755.555556,...,129177.777778,129177.777778,128777.777778,127777.777778,126944.444444,128200.000000,128111.111111,127422.222222,126644.444444,127044.444444
NH,221598.484848,222062.121212,221612.121212,220419.696970,218422.727273,215439.393939,213063.636364,208095.454545,202984.848485,200901.515152,...,190433.333333,190075.757576,189727.272727,188200.000000,184198.484848,181086.363636,180143.939394,179366.666667,178606.060606,177389.393939
NJ,387766.666667,386027.083333,385163.541667,381347.916667,377696.875000,373166.666667,366413.541667,358855.208333,352272.916667,346034.375000,...,327954.166667,326481.250000,324103.125000,318222.916667,313422.916667,309197.916667,304908.333333,301496.875000,298311.458333,296110.416667
NM,147883.333333,153783.333333,149316.666667,145133.333333,145416.666667,146450.000000,143150.000000,144000.000000,154183.333333,164700.000000,...,155200.000000,151916.666667,150183.333333,148450.000000,148350.000000,148466.666667,149616.666667,148433.333333,148783.333333,146650.000000
NV,322755.555556,317133.333333,310111.111111,302311.111111,292233.333333,278077.777778,261411.111111,244688.888889,228377.777778,215788.888889,...,166933.333333,164111.111111,160077.777778,155822.222222,151488.888889,144988.888889,139977.777778,137577.777778,137422.222222,139777.777778
NY,215205.454545,215781.212121,216925.454545,216500.606061,215072.727273,212472.727273,208622.424242,205768.484848,203380.606061,201585.454545,...,194756.363636,193770.909091,192783.636364,191252.121212,189847.878788,189052.121212,188770.303030,188182.424242,187160.000000,186495.757576
OH,136767.375887,136104.255319,135623.404255,135310.638298,134263.829787,132554.609929,131005.673759,129578.723404,127655.319149,126373.758865,...,123779.432624,123334.751773,123098.581560,121895.744681,120638.297872,120168.085106,119507.801418,118729.787234,118249.645390,118453.900709
OK,96935.714286,97192.857143,96830.952381,95892.857143,95550.000000,95116.666667,95650.000000,96164.285714,96573.809524,96316.666667,...,98845.238095,98064.285714,98445.238095,99233.333333,98438.095238,98095.238095,98433.333333,97976.190476,97319.047619,97938.095238
OR,241321.568627,243286.274510,246135.294118,247015.686275,245300.000000,241056.862745,239133.333333,234474.509804,229500.000000,225972.549020,...,215233.333333,211047.058824,208476.470588,204641.176471,200682.352941,195564.705882,192939.215686,192027.450980,191456.862745,191819.607843
PA,149076.086957,149652.173913,150387.681159,150210.144928,150238.405797,149486.956522,148787.681159,148261.594203,147393.840580,146456.884058,...,145854.710145,146103.260870,145285.869565,143443.115942,142260.507246,140938.768116,139680.072464,138546.739130,137230.072464,136250.724638
RI,314704.761905,311509.523810,308966.666667,304171.428571,300657.142857,295252.380952,282109.523810,272576.190476,262014.285714,257747.619048,...,251395.238095,255485.714286,254866.666667,251019.047619,247938.095238,242495.238095,236776.190476,235309.523810,236000.000000,232161.904762
SC,157804.166667,157650.000000,156664.583333,156022.916667,154502.083333,151079.166667,149422.916667,147872.916667,146643.750000,149929.166667,...,148460.416667,148354.166667,147777.083333,146300.000000,143981.250000,143489.583333,142847.916667,142295.833333,141395.833333,140756.250000
TN,107844.308943,108621.544715,109320.731707,109730.487805,109856.504065,109176.829268,108650.813008,108256.504065,107423.983740,108048.373984,...,110096.341463,110010.162602,109267.886179,108763.414634,108026.829268,107857.723577,107670.731707,107594.308943,107118.699187,107613.414634
TX,128219.540230,129359.770115,130327.586207,130843.678161,131619.540230,130804.597701,128881.609195,128195.402299,128310.344828,128719.540230,...,128866.666667,128847.126437,127949.425287,126381.609195,126193.103448,125635.632184,124305.747126,123772.413793,124621.839080,125867.816092
UT,264196.969697,278078.787879,287460.606061,293569.696970,298730.303030,303284.848485,301830.303030,299912.121212,297681.818182,296506.060606,...,250063.636364,243727.272727,235678.787879,229475.757576,225684.848485,221369.696970,218666.666667,213596.969697,212775.757576,211775.757576
VA,293891.269841,290418.253968,288965.873016,286091.269841,281056.349206,273046.825397,263367.460317,255089.682540,249224.603175,246554.761905,...,240457.936508,240172.222222,238735.714286,236057.142857,233334.920635,232541.269841,232665.079365,231784.126984,231096.825397,232811.111111
VT,221133.333333,216747.619048,214104.761905,208295.238095,206242.857143,205523.809524,205823.809524,206200.000000,205223.809524,208528.571429,...,215438.095238,213771.428571,211833.333333,211600.000000,211980.952381,211976.190476,212014.285714,212019.047619,208138.095238,204423.809524
WA,287028.888889,290157.777778,292100.000000,292293.333333,291017.777778,288497.777778,282893.333333,276522.222222,270437.777778,264917.777778,...,248746.666667,246406.666667,241875.555556,236815.555556,232920.000000,229231.111111,225375.555556,221955.555556,219893.333333,219148.888889
WI,174935.353535,175540.404040,176978.787879,177661.616162,177119.191919,176042.424242,175776.767677,175419.191919,174850.505051,173388.888889,...,169739.393939,170150.505051,169918.181818,169341.414141,167700.000000,165407.070707,163659.595960,162610.101010,162106.060606,162417.171717
WV,79958.333333,77833.333333,76583.333333,77350.000000,81841.666667,84966.666667,86716.666667,87700.000000,87325.000000,88008.333333,...,89225.000000,90116.666667,90558.333333,91833.333333,91783.333333,93183.333333,94558.333333,94616.666667,94433.333333,95558.333333

In [82]:
ut_df.loc[:, r_start:r_bottom].mean()

2006q4    214027.224736
2007q1    213821.380090
2007q2    213717.420814
2007q3    212370.965309
2007q4    210392.251131
2008q1    207231.881599
2008q2    203392.251131
2008q3    199841.911765
2008q4    196362.801659
2009q1    194064.988688
2009q2    191242.647059
2009q3    188794.834087
2009q4    187472.605581
2010q1    186653.789593
2010q2    185724.208145
2010q3    184197.662142
2010q4    181949.019608
2011q1    179789.291101
2011q2    177845.889894
2011q3    176281.938160
2011q4    174831.372549
2012q1    174052.601810
2012q2    174334.917044
dtype: float64

In [84]:
nout_df.loc[:, r_start:r_bottom].mean()

2006q4    255369.014490
2007q1    254506.586431
2007q2    253872.906087
2007q3    251964.225743
2007q4    249244.872706
2008q1    244972.105424
2008q2    239843.174893
2008q3    234734.216941
2008q4    229597.564155
2009q1    226463.673912
2009q2    222478.867899
2009q3    218995.866342
2009q4    217082.478502
2010q1    216013.734850
2010q2    214686.097569
2010q3    212722.860383
2010q4    210042.695849
2011q1    207517.504570
2011q2    205278.972849
2011q3    203427.838716
2011q4    201991.763153
2012q1    201008.951182
2012q2    201551.814612
dtype: float64